 li {
  display: inline-block;
}
header{
  background-color: black;
  font-size: 20px;
  padding: 0.5px;
}
a{
  color:white;
  text-decoration: none;

}

ul{
  column-gap: 50px;
  word-spacing: 20px;
  margin-left: 0;
}
p{
  text-align: justify;
  column-count: 4;
  column-rule: 5px double black;
  column-span: all;
}

footer{
  background-color: black;
  padding: 1px;
}
h2{
  color: white;
  text-align: center ;
  margin-top: 0;
}
